@import "./popup.css";
@import "./side-nav.css";
@import "./content-right.css";
@import "./weather.css";


.dashboard {
  display: flex;
  border: solid black 3px;

}

.main-content {
  flex: 4 0 0px;
  border: solid black 3px;

}

.itenerary-container {
  display: flex;
}



