@import "./popup.css";
@import "./side-nav.css";
@import "./content-right.css";
@import "./weather.css";
@import "./eventStyling.css";
@import "./taskStyling.css";
@import "./news.css";

.dashboard {
  display: flex;
  visibility: hidden;
}

.main-content {
  flex: 4 0 0px;
}

.itenerary-container {
  display: flex;
  padding-bottom: 0px;
}

body{
  background-color: #eae0cc;
}

h3 {
  display: flex;
  justify-content: center;
}
h4 {
  display: flex;
  justify-content: center;
}
