@import "./popup.css";
@import "./side-nav.css";
@import "./content-right.css";
@import "./eventStyling.css";
@import "./taskStyling.css";

.dashboard {
  display: flex;
  visibility: hidden;
}

.main-content {
  flex: 4 0 0px;
}

.itenerary-container {
  display: flex;
  padding-bottom: 0px;
}

body{
  background-color: #eae0cc;
}

.news-container{
  border: solid black 2px;
  border: solid black 4px;
  background-color: #a0a083;
  width: 35%
}

.current-weather-container{
  display: flex;
}