.weatherCards {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
  
/* .weatherDayCard {
display: flex;
flex-flow: column;
padding-bottom: 10px;
} */

.weather-location {
display: flex;
justify-content: center;
}

  